/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {font-family: "Perpetua Titling MT Bold V1";
  src: url("../fonts/6044a98d98867449410c8d7cfebb6375.eot"); /* IE9*/
  src: url("../fonts/6044a98d98867449410c8d7cfebb6375.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/6044a98d98867449410c8d7cfebb6375.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/6044a98d98867449410c8d7cfebb6375.woff") format("woff"), /* chrome、firefox */
  url("../fonts/6044a98d98867449410c8d7cfebb6375.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/6044a98d98867449410c8d7cfebb6375.svg#Perpetua Titling MT Bold V1") format("svg"); /* iOS 4.1- */
}

body {
    background: #fafafa url("../img/bg.png");
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
}

#container {
    max-width: 1170px;
    padding: 0px 52px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

header {
    padding-top: 45px;
}

header a {
    text-decoration: none;
    color: #000;
}

header #head-left {
    float: left;
    width: 50%;
}

header #head-left h1 {
    float: left;
    margin-right: 69px;
    font-family: "Perpetua Titling MT Bold V1", Serif;
    font-size: 35px;
    font-weight: 100;
    margin-top: -14px;
}

header #head-right a {
    float: right;
    font-weight: 100;
    padding-top: 2px;
    background: url(../img/github.png) center right no-repeat;
    background-size: 22px;
    padding-right: 30px;
    outline:none;
}

header #head-right a:hover {
    font-weight: 300;
    color: #7c7c7c;
    background: url(../img/github-h.png) center right no-repeat;
    background-size: 22px;
    padding-right: 30px;
}

header h1, a, p {
    margin: 0px;
    padding: 0px;
}

.pattern {
    clear: both;
    overflow: hidden;
    margin-left: 140px;
    max-width: 1025px;
}

#pattern-top {
    background: url('../img/pattern-top.png') top left repeat-x;
    background-size: 19.7px;
    margin-top: 20px;
    height: 8.3px;
}

#pattern-bottom {
    background: url('../img/pattern-bottom.png') top left repeat-x;
    background-size: 19.7px;
    height: 8.3px;
}

#about, #skills {
    clear: both;
}

.label {
    float: left;
    width: 139.35px;
    background: none;
    padding-top: 45px;
    line-height: 2.467;
    font-size: 20px;
}

.label p {
    float: right;
    margin-right: 20px;
}

.content {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-top: none;
    border-bottom: none;
    max-width: 938.377px;
    overflow: hidden;
    padding: 48px 43px 20px 43px;
    line-height: 2.467;
}

#about .label .glyphicons-user {
    color: #14dfec;
    margin-top: 8px;
    margin-left: 22px;
}

#skills ul {
    margin-bottom: 0px;
}

#skills ul li {
    list-style: none;
    margin-bottom: 8px;
}

#skills ul li:last-child {
    margin-bottom: 0px;
}

#skills ul a {
    background: url(../img/bullet.png) no-repeat center left;
    background-size:8px;
    padding-left: 30px;
    text-decoration: none;
    color: #222;
}

#skills ul a:hover {
    background: url(../img/bullet-h.png) no-repeat center left;
    background-size:8px;
    color: #14ec51;
}

#skills .label .glyphicons-cogwheels {
    color: #14ec51;
    margin-top: 8px;
    margin-left: 20px;
}

#work p:first-child {
    margin-bottom: 45px;
}

#work .label .glyphicons-note {
    color: #ecc114;
    margin-top: 8px;
    margin-left: 25px;
}

#work .port-item {
    display: block;
    border: 1px solid #e5e5e5;
}

#work .port-item img {
    width: 100%;
}

#work .port-outer-container {
    width: 33.33%;
    float: left;
}

#work #port-left {
    margin-left: 0px;
}

#work #port-right {
    margin-right: 0px;
}

#work .port-inner-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#work .port-item img:hover {
    opacity: 0;
}

#work #port-item1 {
    background: url('../img/port1-h.jpg') no-repeat;
    background-size: contain;
}

#work #port-item2 {
    background: url('../img/port2-h.jpg') no-repeat;
    background-size: contain;;
}

#work #port-item3 {
    background: url('../img/port3-h.jpg') no-repeat;
    background-size: contain;
}

.viewmore {
    background: url(../img/bullet.png) no-repeat center left;
    background-size: 8px;
    padding-left: 20px;
    float: right;
    margin-top: 30px;
    text-decoration: none;
    color: #222;
}

.viewmore:hover {
    background: url(../img/viewmore-h.png) no-repeat center left;
    background-size: 8px;
    color: #ecc114;
}

#contact .label .glyphicons-envelope {
    color: #ec1447;
    margin-top: 8px;
    margin-left: 2px;
}

#contact .content {
    padding-bottom: 50px;
}

.form-label {
    float: left;
    width: 16%;
}

.form-field {
    float: left;
}

#form-name .form-field {
    width: 70%;
}

#form-email .form-field {
    width: 84%;
}

#form-msg .form-label {
    width: 7.8%;
}

#form-msg .form-field {
    width: 92.2%;
}

#contact form input {
    background: #fefefe;
    border: 1px solid #d1d1d1;
    height: 36px;
    padding: 0px 15px;
    box-sizing: border-box;
}

#form-name {
    float: left;
    width: 48.7%;
}

#form-name input {
    width: 100%;
}

#form-email {
    clear: right;
    width: 51.3%;
    float: left;
}

#form-email input {
    width: 100%;
}

#form-msg {
    margin-bottom: 20px;
    padding-top: 30px;
    clear: both;
    overflow: hidden;
}

#form-msg label {
    float: left;
    padding-top: 7px;
}

#form-msg textarea {
    background: #fefefe;
    border: 1px solid #d1d1d1;
    width: 100%;
    height: 170px;
    padding: 7px 15px;
    line-height: 2;
    box-sizing: border-box;
}

#form-btn {
    color: #fff;
    background: #fb455a;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    width: 220px;
    height: 54px;
    font-size: 18px;
    float: right;
    border-bottom: 4px solid #cf2b3f;
}

#form-btn:hover {
    background: #fa5d6f;
}

#form-btn:focus {
    border-bottom: 2px solid #cf2b3f;
    padding: 0px;
}

footer {
    padding: 30px 9px 30px 0px;
    clear: both;
    float: right;
    font-size: 12px;
    font-weight: 100;
}

@media screen and (max-width: 930px) {
    #form-name {
        float: none;
        overflow: hidden;
        width: 100%;
        padding-bottom: 20px;
    }

    #form-name .form-field {
        width: 50%;
    }

    #form-email {
        float: none;
        width: 100%;
    }

    #form-email .form-field {
        width: 70%;
    }

    #form-msg .form-label {
        width: 16%;
    }

    #form-msg .form-field {
        width: 84%;
    }
}

@media screen and (max-width: 710px) {
    #form-name .form-field {
        width: 84%;
    }

    #form-email .form-field {
        width: 84%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
